<section>
    <div class="w-[70%] m-auto grid grid-cols-2 gap-10 font-bold h-[80vh] items-center">
        <div>
            <h1 class="lead text-8xl text-blue-500 py-5">C30 Lunch Management System</h1>

            <div class="text-center mt-10" >
                <a href="/meal-orders" class="border-blue-500 border-4 p-4 text-blue-500 hover:bg-blue-500 hover:text-white">
                    Make Your Order
                </a>
            </div>
        </div>

        <div>
            <!-- <img src="https://images.unsplash.com/photo-1568604004047-c88c32ad7191?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80" alt=""> -->
            <img src="Lmslogo.jpg" alt="logo">
        </div>
    </div>
</section>