<section>
    <div class="w-[80%] m-auto h-[80vh] flex flex-col items-center justify-center">
        <h1 class="text-3xl font-bold text-blue-500 text-center py-8">Select Your Meal Options</h1>
        <div class="mb-10 p-4 border shadow-md w-full">
            <form action="/addOrderItem" class="flex gap-4 justify-between w-full">
               <!-- <div class="flex flex-col">
                <label class="border-b-2 border-blue-500 font-bold" for="">Trainee Name</label>
                <select name="" id="">
                    <option value=""></option>
                    <option value="">John Doe</option>
                    <option value="">Jane Doe</option>
                    <option value="">Deihjohnell Maximus Denton</option>
                </select>
               </div> -->

                <div class="flex flex-col">
                    <label class="border-b-2 border-blue-500 font-bold" for="">Meat Option</label>
                <select name="" id="">
                    <option value="">chicken</option>
                    <option value="">Curry Goat</option>
                    <option value="">Vegetarian</option>
                </select>
                </div>

                <div class="flex flex-col">
                    <label class="border-b-2 border-blue-500 font-bold" for="">Starch Option</label>
                    <select name="" id="">
                        <option name="" id="">Rice</option>
                        <option name="" id="">Boiled Food</option>
                        <option name="" id="">Bread</option>
                    </select>
                </div>

                <div class="flex flex-col">
                    <label class="border-b-2 border-blue-500 font-bold" for="">Side Serving</label>
                <select name="" id="">
                    <option value="">Raw Veg</option>
                    <option value="">Steamed Veg</option>
                    <option value="">Pasta</option>
                    <option value="">Creamed Potatos</option>
                </select>
                </div>

               <div class="flex flex-col">
                <label class="border-b-2 border-blue-500 font-bold" for="">Beverage Options</label>
                <select name="" id="">
                    <option value="">Orange Juice</option>
                    <option value="">Pinapple Juice</option>
                    <option value="">Soda</option>
                </select>
               </div>

               <div>
                   <button type="submit" class="p-4 text-white font-bold bg-blue-500 hover:bg-blue-600">
                       Submit Order
                   </button>
               </div>
            </form>
        </div>

        <div class="w-full">
            <img src="https://images.unsplash.com/photo-1583266999030-aabe53af1a46?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170" alt="" class="w-full h-[400px] object-cover" >
        </div>
    </div>
</section>