<section class="w-1/2 m-auto flex items-center h-[80vh] justify-center">
    <form action="/save-trainee" method="POST" class="border shadow-md p-4">
        <h2 class="text-2xl py-3 text-center">Trainee Registration</h2>

        <div class="text-center text-5xl py-4 mb-5">
            <i class="fa-solid fa-user"></i>
        </div>
            
            <div class="grid grid-cols-2 gap-4">
                <div class="flex flex-col">
                    <label for="fname">First Name:</label>
                    <input type="text" name="firstName" class="border p-2 outline-none" placeholder="Enter your First Name"/>
                </div>
                
                <div class="flex flex-col">
                    <label for="lname">Last Name:</label>
                    <input type="text" name="lastName" class="border p-2 outline-none" placeholder="Enter your Last Name"/>
                </div>
               
                <div class="flex flex-col">
                    <label for="cohort_number">Cohort Number:</label>
                    <select name="cohort" id="" class="border p-2 outline-none">
                        <option value="1">One</option>
                        <option value="2">Two</option>
                    </select>
                </div>
    
               <div class="flex flex-col">
                   <% let d = new Date().toJSON().slice(0, 10).split('-').reverse().join('-') %> 
                    <label for="date_joined">Date Joined:</label>
                    <input type="text" name="dateJoined" class="border p-2 outline-none" placeholder="" value="<%= d %> " readonly/>
               </div>
            </div>
            
            <div class="p-5 text-center">
                <!-- <input type="submit" value="Register" id="" class="p-3 bg-blue-500 text-white"> -->
                <button type="submit">Register</button>
            </div>
    </form>
</section>