<section>
    <div class="w-[70%] m-auto pt-10">
        <div>
            <h1 class="text-center text-4xl text-blue-500 font-bold">Meat Dishes</h1>

            <form action="">
                <div>
                    <div>
                        <label for="">Fried Chicken</label>
                        <input type="checkbox" name="fried_ch" id="">
                    </div>

                    <div>
                        <img src="" alt="">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>