<section>
    <h1>Menu</h1>

    <form action="">
        <select name="" id="">
            <option value="">Meat</option>
            <option value="">Vegetarian</option>
        </select>

        <select name="" id="">
            <option value="">Fry Chicken</option>
            <option value="">Curry Chicken</option>
        </select>
    </form>
</section>