<section class="">
    <div class="px-4 py-5 border shadow-md w-[30%] m-auto mt-12">
        <h1 class="text-3xl text-blue-500 font-bold text-center">Meal Order Summary</h1>
        <p class="text-center font-bold mt-3">Jane Doe</p>
       <div class="p-8">
            <div class="flex justify-between py-4 shadow-sm">
                <p class="font-bold">Meat Option</p>
                <p>Chicken</p>
            </div>
            <div class="flex justify-between py-4 shadow-sm">
                <p class="font-bold">Starch Option</p>
                <p>Rice</p>
            </div>
            <div class="flex justify-between py-4 shadow-sm">
                <p class="font-bold">Side Serving</p>
                <p>Raw Veg</p>
            </div>
            <div class="flex justify-between py-4 shadow-sm">
                <p class="font-bold">Beverage Option</p>
                <p>Orange Juice</p>
            </div>
       </div>
    </div>
</section>