<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trainee</title>
</head>
<body>

    <form>
            <h2>Trainee</h2>
            
            <label for="fname">First Name:</label>
            <br/>
            <input type="text" name="fname"  placeholder="Enter your First Name"/>
            <br/>
            <label for="lname">Last Name:</label>
            <br/>
            <input type="text" name="lname"  placeholder="Enter your Last Name"/>
            <br/>
            <!-- <label for="email">Email:</label>
            <br/>
            <input type="email" name="email" placeholder="Enter your Email"/> -->
            <br/>
            <br/>
            <label for="cohort_number">cohort_number:</label>
            <input type="cohort_number" name="cohort_number" placeholder=""/>

            <!-- <br/>
            <h2> Please Select your Subjects:</h2>
            <input type="checkbox" id="subject1" name="subject1" value="cohort1 ">
            <label for="subject1">Groovy</label>
            <input type="checkbox" id="subject2" name="subject2" value="cohort2">
            <label for="subject2">Java</label>
            <input type="checkbox" id="subject3" name="subject3" value="SQL">
            <label for="subject3">SQL</label>
            <input type="checkbox" id="subject4" name="subject4" value="JavaScript">
            <label for="subject3">JavaScript</label>
            <br/>
            <br/> -->
            <label for="date_joined">date joined:</label>
            <br/>
            <input type="text" name="lname"  placeholder=""/>
            <br/>
        
    
</body>
</html>